<!--注文完了画面-->
<div class="container my-5">
  <%= render 'public/header' %>

  <div class="row mt-5">
    <div class="d-flex align-items-center justify-content-center" style="height:300px;">
      <h3>ご注文ありがとうございました！</h3>
    </div>
  </div>
</div>